.big-container{
    padding: 1.5rem 2.5rem;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    flex-wrap: wrap;
}

.container{
    border-radius: 14px;
    background-color: rgb(241,240,232);
    width: 40%;
    height: 450px;
    padding: 2rem;
    box-shadow: 0px 0px 10px 2px rgb(203, 207, 135);
    display: flex;
    justify-content: center;
    align-items: center;
}